.button-container {
    border: 1px solid #ccc; /* Add a border to create a box-like appearance */
    padding: 20px;
    flex-direction: column; /* Add padding for spacing inside the container */
    display: flex; /* Use a flex container to arrange the buttons horizontally */
    justify-content: space-around; /* Center the buttons and create equal spacing */
    background-color: #f0f0f0; /* Set a background color for the container */
  }

.button-group {
    display: flex; /* Use a flex container to arrange buttons horizontally */
    justify-content:space-evenly; /* Center-align the buttons and create equal spacing */
    margin: 10px /* Add margin for spacing between button groups */
}

button {
    margin: 10px;
    padding: 10px 100px; /* Add padding to the buttons for spacing and style */
    background-color: #007BFF; /* Set a background color for the buttons */
    color: #fff; /* Set the text color to white */
    border: none; /* Remove button borders */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

.title {
    text-align: center; /* Center aligns the content within the container */
}

h1 {
    color: red;
}   