body {
  display: flex;
  justify-content: center;
  background-size: 100%;
}


.container {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #e9e7f0;
  box-shadow: 0 2px 4px rgba(18, 14, 14, 0.1);
  border-radius: 20px;
  justify-content: center;
  box-shadow: rgba(17, 15, 15, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

h1 {
  text-align: center;
  margin-bottom: 1%;
}

h2{
  text-align: center;
  margin-left: 30%;
  font-size:small;
  margin: 1%;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}



/* CSS */
.btn {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: inline-block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.95);
}

/*.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #0f0a0a;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius:10%;
  transition: background-color 0.3s;
  box-shadow: rgb(218, 169, 20) 3px 3px 6px 0px inset, rgba(59, 50, 33, 0) -3px -3px 6px 1px inset;
  
}*/
.answer-container{
  flex-direction: column;
  text-align: center;
}
/*.btn:hover{
  background-color: rgb(218, 169, 20);
}*/
.controls{
  display: flex;
  justify-content: space-between;
}
/*.question-container{
  width: 300px;
  padding: 50px;
  margin: 20px;
  box-shadow: rgb(158, 192, 223) 3px 3px 6px 0px inset, rgba(217, 190, 190, 0.5) -3px -3px 6px 1px inset;
  box-shadow: rgb(218, 169, 20) 3px 3px 6px 0px inset, rgba(59, 50, 33, 0) -3px -3px 6px 1px inset;
}*/
.question-container{
  width: 300px;
  padding: 50px;
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: inline-block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  
}

.hide{
  display: none;
}